.SellForm {
    background-color: white;
    border-radius: 10px;
    margin-right: 100px;
    padding: 30px 0 40px 0;
    height: auto;
    .row {
        padding-left: 100px;
        padding-right: 120px;
    }
}

.SellFormFirstRow {
    margin: 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.SellHeading {
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 25px;
    line-height: 50px;
    color: #1d275a;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

.SellCurrencyLabel {
   font-size: 20px;
   line-height: 50px;
   font-family: Poppins, Roboto, "Helvetica Neue";
   color: rgb(98, 96, 96);
}

.SellSendSelectbox {
    padding: 0 0 0 0;
}

.SellSendLabel {
    font-size: 20px;
    line-height: 50px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    color: rgb(98, 96, 96);
 }

.SellAppSendSelectbox {
    border: 1px solid $gray-300;
    border-radius: 10px !important;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: auto !important;
    box-shadow: $block-shadow;
    &:before {
      content: "";
      position: absolute;
      pointer-events: none;
      top: 50%;
      margin-top: $caret-width * -0.3;
      right: 10px;
      width: 0;
      height: 0;
      border: $caret-width solid transparent;
      border-top-color: $gray-900;
    }
    select {
      padding: 0.3125rem 1.5rem; //5px 24px;
      box-shadow: none;
      background-color: #f0f1f5;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-transform: capitalize;
      height: 65px !important;
      font-size: 20px;
      line-height: 50px;
      font-family: Poppins, Roboto, "Helvetica Neue";
      color: rgb(98, 96, 96);
      &:focus {
        outline: none;
        background-color: #f0f1f5;
      }
    }
}
.SellAppSendSelectbox-sm {
    @extend .SellAppSendSelectbox;
    height: $input-height;
    select {
      height: $input-height !important;
    }
}

.SellSendFormGroup {
    height: auto !important;
    padding: 0;
    margin: 0;
}

.SellSendSelectInput {
    height: auto !important;
}

.SellSendDiv {
   height: 65px !important;
   margin-bottom: 40px;
}

.SellSendInput {
    padding: 0.3125rem 1.5rem; //5px 24px;
    border-radius: 10px !important;
    box-shadow: none;
    background-color: #f0f1f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: capitalize;
    height: 65px !important;
    font-size: 20px;
    line-height: 50px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    color: rgb(98, 96, 96);
}


.SellSendSelectBox {
    padding: 0 0 0 0;
}



.sellNowBtn {
    background-color: red;
    margin-top: 20px !important;
    margin-left: 0;
    width: 100%;
    font-family: Poppins, Roboto, "Helvetica Neue";
    color: white !important;
    height: 70px;
    border: white 1px solid;
    border-radius: 10px;
    text-align: center;
    padding-top: 18px;
    font-size: 20px;
    font-weight: 500;
    &:hover,
    &:focus,
    &.active {
       border-color: $primary !important;
       background-color: white;
       color: rgb(43, 46, 65) !important;
    }
 }

 
@media (max-width: 450px) {
    .SellForm {
        margin-top: 50px !important;
        background-color: white;
        border-radius: 10px;
        margin-right: 0px;
        padding: 30px 0 40px 0;
        height: auto;
        .row {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .SellSendLabel {
        margin-top: 10px !important;
     }

     .SellCurrencyLabel {
        margin-top: 20px !important;
     }

     .SellPaymentMethod {
         margin-top: 90px !important;
     }

     .ExchangeSellMonthlyLimitLabel {
         margin-top: 0px !important;
     }
}